<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Espera</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>

    <main class="container-fluid">
        <div class="row my-5">
            <h1 class="col text-center">Lista de Espera</h1>
        </div>
        <div class="row my-5">
            <h2 class="col text-center" style="color:rgb(156, 154, 154) ">{{ db_data.0.identidad }} {{ db_data.0.ticket }}</h2>
        </div>
        <div class="row justify-content-center py-5">

            <div class="w-70 col-5 container justify-content-center">

            
               <div class="row">
                <table border="1" style = "width: 100%;">
                <div class="card w-75 col m-2">
                    <tr class="card-body">
                        <td class="card-title"  style="width:50px" >Identidad</td>
                        <td class="card-title" style="width:50px" >Ticket</td>
                        <td class="card-title" style="width:50px" >Prioridad</td>
                    </tr>
                </div>
                {% for data in db_data_alta %}
                <div class="card w-75 col m-2" border="1">
                    <tr class="card-body">
                        <td class="card-title" style="width:50px" >{{ data.identidad }}</td>
                        <td class="card-text"  style="width:50px">{{ data.ticket }}</td>
                        <td class="card-text"  style="width:50px">{{ data.prioridad }}</td>
                        <td style="width:5px"> <a href={% url "update_form" data.id %} class="button">editar</a></td>                        </td>
                        <td style="width:5px"> <a href={% url "delete" data.id %} class="button">eliminar</a></td>
                    </tr>
                </div>
                {% endfor %}
                {% for data in db_data_normal %}
                <div class="card w-75 col m-2" border="1">
                    <tr class="card-body">
                        <td class="card-title" style="width:50px" >{{ data.identidad }}</td>
                        <td class="card-text"  style="width:50px">{{ data.ticket }}</td>
                        <td class="card-text"  style="width:50px">{{ data.prioridad }}</td>
                        <td style="width:5px"> <a href={% url "update_form" data.id %} class="button">editar</a></td>                        </td>
                        <td style="width:5px"> <a href={% url "delete" data.id %} class="button">eliminar</a></td>
                    </tr>
                </div>
                {% endfor %}
                {% for data in db_data_baja %}
                <div class="card w-75 col m-2" border="1">
                    <tr class="card-body">
                        <td class="card-title" style="width:50px" >{{ data.identidad }}</td>
                        <td class="card-text"  style="width:50px">{{ data.ticket }}</td>
                        <td class="card-text"  style="width:50px">{{ data.prioridad }}</td>
                        <td style="width:5px"> <a href={% url "update_form" data.id %} class="button">editar</a></td>                        </td>
                        <td style="width:5px"> <a href={% url "delete" data.id %} class="button">eliminar</a></td>
                    </tr>
                </div>
                {% endfor %}
                </table>
                </div>
            </div>
            <div class="col-6 row justify-content-center h-50 p-5">
                {% if update %}
                <form class="w-50" method="post" action={% url "update" %}>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="subject" class="form-label">Identidad</label>
                        <input type="number" value="{{ update.identidad }}" class="form-control" name="identidad" id="identidad" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="prioridad" class="form-label">Prioridad</label>

                        <select name="prioridad" class="form-control" id="prioridad">
                            <option label="Alta">Alta</option>
                            <option label="Normal">Media</option>
                            <option label="Baja">Baja</option>
                          </select>
    
                    </div>

                    <input type="hidden" name="id" value="{{ update.id }}" />
                    <button type="submit" class="btn btn-primary w-100">Update</button>
                </form>
                {% else %}
                <form class="w-50" method="post" action={% url "insert" %}>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="subject" class="form-label">Identidad</label>
                        <input type="number" class="form-control" name="identidad" id="identidad" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Prioridad</label>
                        <select name="prioridad" class="form-control" id="prioridad">
                            <option label="Alta">Alta</option>
                            <option label="Normal">Normal</option>
                            <option label="Baja">Baja</option>
                          </select>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Add</button>
                </form>
                {% endif %}
            </div>

        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>